*{
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0
}
/*
    colocou até outros estilos, que não eram pedidos no exercício!
    show de bola, Ale! \o/
*/
hr{
    color: grey;
    background-color: grey;
    height: 1px;
    margin-bottom: 30px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-top: 30px;
}
h1 {
    margin-bottom: 30px;
}

/*
    Como comentei no exercício de currículo, você pode reaproveitar o estilo.
    Como as 5 classes abaixo são iguais (tem o mesmo estilo), que tal usar uma classe só pra todas
    elas. Do jeito que você fez, funciona também. Mas quero que você saiba que é possível
    fazer de outra maneira, para que depois decida a melhor opção.

    No css ficaria assim:

    .sabores {
        padding-bottom: 30px;
    }

    no html ficaria assim: 

    <div class="sabores sabor-1">
      <h3>Portuguesa com Catupiry</h3>
      <p>Presunto, ovo, ervilha, cebola, catupiry e azeitona preta</p>
    </div>
    <div class="sabores sabor-2">
      <h3>Pepperoni</h3>
      <p>Pepperoni e cebola</p>
    </div>

    Percebe como podemos adicionar duas classes no mesmo elemento css?
*/
.sabor-1, .sabor-2, .sabor-3, .sabor-4, .sabor-5 {
    padding-bottom: 30px;
}
.sabor-1 h3{
    color: blue;
    font-size: 14px;
}
.sabor-2 h3 {
    color: green;
    font-size: 14px;
}
.sabor-3 h3 {
    color: red;
}
.sabor-4 h3 {
    color: blue;
}
.sabor-5 h3 {
    color: blue;
    font-size: 14px;
    }
